<div class="content show-content">

    <div class="bg-cover" style="background-image: url('https://image.tmdb.org/t/p/original<%= @show['backdrop_path'] %>')"></div>
    <div class="cover-blur"></div>

    <div class="show-side-section">
        <div class="show-poster" style="background-image: url('https://image.tmdb.org/t/p/w500<%= @show['poster_path'] %>')"></div>
    </div>

    <div class="show-main-section">
        <h1 class="show-h1">
            <a href="/shows/<%= @show['id'] %>"><%= @show['name'] %></a>
            <span> - <%= @season['name'] %></span>
        </h1>

        <section class="show-section">
            <h2 class="show-h2">Synopsis</h2>

            <p class="plain-text"><%= @season['overview'] %></p>
        </section>

        <section class="show-section">
            <h2 class="show-h2">Épisodes</h2>

            <div class="list-episode-container">
                <% @season['episodes'].each do |episode| %>
                    <a href="/shows/<%= @show['id'] %>-<%= get_alias @show['name'] %>/season/<%= @season['season_number'] %>/episode/<%= episode['episode_number'] %>"
                       class="scroll-list-item scroll-list-item_backdrop_s1"
                       style="background-image: url('https://image.tmdb.org/t/p/w500<%= episode['still_path'] %>')">
                            <div class="episode-title"><%= episode['name'] %></div>
                    </a>
                <% end %>
            </div>
        </section>
    </div>
</div>