<div class="content">
    <% @results.each do |item| %>
        <div class="result-item">
            <% case item['media_type'] %>
            <% when 'tv' %>
                <a href="/shows/<%= item['id'] %>"><%= item['name'] %></a>
            <% when 'person' %>
                <a href="/peoples/<%= item['id'] %>"><%= item['name'] %></a>
            <% when 'movie' %>
                <a href="/movies/<%= item['id'] %>"><%= item['title'] %></a>
            <% else %>
            <% end %>
        </div>
    <% end  %>
</div>