<div class="content search-content">

    <div class="bg-cover" style="background-image: url('<%= @cover %>')"></div>
    <div class="cover-blur"></div>

    <% @results.each do |type| %>
        <% if type['results'].length > 0 %>
            <section class="search-section">
                <h2 class="search-section-title"><%= type['section_title'] %></h2>
                <div class="results-container">
                    <% type['results'].each do |item| %>
                        <a href="/<%= type['link_path'] %>/<%= item['id'] %>-<%= item['title'].nil? ? (get_alias item['name']) : (get_alias item['title'])  %>"
                           class="result-item"
                           style="background-image: url('<%= type['poster_link']+item[type['poster_name']] %>');">
                            <%= item['name'] %>
                        </a>
                    <% end  %>
                </div>
            </section>
        <% end  %>
    <% end  %>
</div>

