<div class="content show-movie show-content">
    <div class="bg-cover" style="background-image: url('https://image.tmdb.org/t/p/original<%= @movie['backdrop_path'] %>')"></div>
    <div class="cover-blur"></div>

    <div class="show-side-section">
        <div class="show-poster" style="background-image: url('https://image.tmdb.org/t/p/w500<%= @movie['poster_path'] %>')"></div>
        <ul class="genre-list">
            <% @movie['genres'].each do |genre| %>
                <li class="genre-item"><%= genre['name'] %></li>
            <% end %>
        </ul>
        <div class="side-section-container">
            <div class="side-section-title">Réalisateur</div>
            <% @directors.each do |director| %>
                <div class="show-side-people-item">
                    <div class="show-side-people-img" style="background-image: url('https://image.tmdb.org/t/p/h632<%= director['profile_path'] %>')"></div>
                    <a href="/peoples/<%= director['id'] %>" class="show-side-people-name"><%= director['name'] %></a>
                </div>
            <% end %>
        </div>
    </div>

    <div class="show-main-section">
        <h1 class="show-h1"><%= @movie['title'] %></h1>
        <div class="release-date">Sortie le <%= @release_date.strftime('%d %B %Y') %></div>

        <section class="show-section">
            <h2 class="show-h2">Synopsis</h2>
            <p class="plain-text"><%= @movie['overview'] %></p>
        </section>

        <section class="show-section">
            <h2 class="show-h2">Tête d'affiche</h2>
            <div class="scroll-list">
                <% @cast['cast'][0..4].each do |people| %>
                    <a href="/peoples/<%= people['id'] %>">
                        <div class="cast-item" style="background-image: url('https://image.tmdb.org/t/p/h632<%= people['profile_path'] %>')"></div>
                    </a>
                <% end %>
            </div>
        </section>

        <section class="show-section">
            <h2 class="show-h2">Recommandations</h2>
            <div class="scroll-list">
                <% @reco.each do |reco| %>
                    <a href="/movies/<%= reco['id'] %>">
                        <div class="movie-item" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= reco['poster_path'] %>')"></div>
                    </a>
                <% end %>
            </div>
        </section>
    </div>
</div>