<div class="content show-content">

    <div class="bg-cover" style="background-image: url('https://image.tmdb.org/t/p/original<%= @show['backdrop_path'] %>')"></div>
    <div class="cover-blur"></div>

    <div class="show-side-section">
        <div class="show-poster" style="background-image: url('https://image.tmdb.org/t/p/w500<%= @show['poster_path'] %>')"></div>
    </div>

    <div class="show-main-section">
        <h1 class="show-h1"><%= @show['name'] %></h1>

        <section class="show-section">
            <h2 class="show-h2">Synopsis</h2>
            <p class="plain-text"><%= @show['overview'] %></p>
        </section>

        <section class="show-section">
            <h2 class="show-h2">Saisons</h2>

            <div class="scroll-list">
                <% @show['seasons'].each do |season| %>
                    <a href="/shows/<%= @show['id'] %>-<%= get_alias @show['name'] %>/season/<%= season['season_number'] %>" class="season-item">
                        <div class="season-cover" style="background-image: url('https://image.tmdb.org/t/p/w500<%= season['poster_path'] %>')">
                            <div class="season-title">Saison <%= season['season_number'] %></div>
                        </div>
                    </a>
                <% end %>
            </div>
        </section>
    </div>
</div>