<div class="content show-content">
    <div class="bg-cover" style="background-image: url('<%= @cover %>')"></div>
    <div class="cover-blur"></div>

    <div class="show-side-section">
        <div class="show-poster" style="background-image: url('https://image.tmdb.org/t/p/h632<%= @people['profile_path'] %>')"></div>
    </div>

    <div class="show-main-section">
        <h1 class="show-h1"><%= @people['name'] %></h1>

        <section class="show-section">
            <h2 class="show-h2">Biographie</h2>
            <p class="plain-text"><%= @people['biography'] %></p>
        </section>

        <section class="show-section">
            <h2 class="show-h2">Les films dans lesquels il a joué</h2>
            <div class="scroll-list">
                <% @movies_played.each do |movie| %>
                    <a href="/movies/<%= movie['id'] %>-<%= get_alias movie['title'] %>">
                        <div class="scroll-list-item scroll-list-item_s1" style="background-image: url('https://image.tmdb.org/t/p/h632<%= movie['poster_path'] %>')"></div>
                    </a>
                <% end %>
            </div>
        </section>

    </div>


</div>