<!DOCTYPE html>
<html>
<head>
    <title>MovieProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<div class="container">
    <!--<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>-->
    <header>
        <form action="/search" method="get">
            <input type="text" name="query" class="search-input" placeholder="Search">
        </form>
        <a class="logo-container" href="/"></a>
        <div class="header-user-section">
            <% if user_signed_in? %>
                <%= link_to current_user.email, current_user %>
                <%= link_to "Log out", :destroy_user_session, method: :delete %>
            <% else %>
                <%= link_to "Sign In", :new_user_session %>
                <%= link_to "Sign Up", :new_user_registration %>
            <% end %>
        </div>
    </header>
    <%= yield %>
    <footer>

    </footer>
</div>
</body>
</html>
